<div class="jumbotron text-center">
    <div><img class="logo1" src="/img/bennettParkFF.png"></div>
  <h3 class="display-5">{{title}}</h3>
  <p class="lead">BPF-Stats are for players of Bennett Park Football</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Item</a>
</div>

<div id="disclainer">
    <p>Authorized use of this site Required</p>
    <br>
    {{date}}
</div>